<%- include('partials/header') -%>
<div class="container w-25 mt-2">
  <%- include('partials/messages') -%>
  <h1 class="text-center">ALL LINKS</h1>

  <div class="row">
    <% for (var i = 0; i < newLinks.length; i++) { %>
    <div class="col-6">
      <div class="card text-white bg-info mb-3" style="max-width: 24rem">
        <div class="card-header"><%= newLinks[i].course %></div>
        <div class="card-body">
          <h5 class="card-title"><%= newLinks[i].des %></h5>
          <p class="card-text"><%= newLinks[i].date %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
<%- include('partials/footer') -%>
